services:
  traefik:
    image: traefik:v3.6.4
    container_name: traefik
    restart: unless-stopped
    ports:
      - "443:443/tcp"
      - "127.0.0.1:8080:8080"
    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - --log.level=${TRAEFIK_LOG_LEVEL}
      - --ping=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.websecure.address=:443/tcp
      - --entrypoints.traefik.address=:8080
      - --certificatesresolvers.le.acme.tlschallenge=true
      - --certificatesresolvers.le.acme.email=${LE_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping.entrypoint=traefik"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    env_file:
      - .env

  hysteria-server:
    build:
      context: .
      args:
        - HYSTERIA_VERSION=${HYSTERIA_VERSION}
        - HYSTERIA_ARCH_SUFFIX=${HYSTERIA_ARCH_SUFFIX}
    container_name: hysteria-server
    ports:
      - "443:443/udp"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    restart: unless-stopped
    depends_on:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hysteria-masq.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.hysteria-masq.entrypoints=websecure"
      - "traefik.http.routers.hysteria-masq.tls.certresolver=le"
      - "traefik.http.routers.hysteria-masq.service=noop@internal"
      - "traefik.http.middlewares.to-mcdonalds.redirectregex.regex=^https?://.*"
      - "traefik.http.middlewares.to-mcdonalds.redirectregex.replacement=https://www.mcdonalds.com"
      - "traefik.http.middlewares.to-mcdonalds.redirectregex.permanent=true"
      - "traefik.http.routers.hysteria-masq.middlewares=to-mcdonalds"
    volumes:
      - ./entrypoint.sh:/usr/local/bin/entrypoint.sh:ro
      - ./letsencrypt:/etc/hysteria/certs:ro
    env_file:
      - .env